---
import LayoutPages from "@/layouts/LayoutPages.astro";
import { productos } from "@/content";
import { BtnAddCar } from "@/components/carrito/BtnAddProductToCar";

const { id } = Astro.params;

export async function getStaticPaths() {
  return productos.map((producto) => ({
    params: { id: producto.id },
    props: { id: producto.id },
  }));
}

const productoPage = productos.find((prod) => prod.id === id);
---

<LayoutPages title=`${productoPage?.nombre}`>
  <article class="grid grid-cols-1 md:grid-cols-2 sp-3">
    <div class="p-5 flex items-center justify-center w-[94%] h-[94%]">
      <img
        src={productoPage?.imagen}
        alt={`imagen-producto-${productoPage?.nombre}`}
        class="size-full object-cover"
      />
    </div>
    <div class="border border-dashed p-4 flex flex-col gap-y-3 sm:max-w-[90%]">
      <div class="flex justify-between pr-2 relative">
        <h2 class="font-bold text-base md:text-2xl mt-2">
          {productoPage?.nombre}
        </h2>
        <div
          class={`${
            productoPage?.descuento ? "block" : "hidden"
          } absolute right-2`}
        >
          <img
            src="/bg-ofertas.webp"
            alt="imagen-bacground-ofertas"
            class="size-9"
          />
          <span
            class="font-bold text-base w-5 text-white px-5 border-dashed absolute z-3 top-2 right-2.5"
          >
            {productoPage?.descuento}%
          </span>
        </div>
      </div>
      <p class="text-sm md:text-xl font-semibold my-2">
        Precio:<strong> {productoPage?.precio}</strong>
      </p>
      <p class="text-sm md:text-base text-balance my-3">
        {productoPage?.descripcion}
      </p>
      {productoPage && <BtnAddCar producto={productoPage} client:load />}
    </div>
  </article>
</LayoutPages>


