---
import "@/styles/globals.css";
import { contenido } from "@/content";
import Layout from "@/layouts/Layout.astro";
import type { Producto } from "@/types";
import { getCategorieBy, getCategories } from "@/lib/getCategories";
import Crumbs from "@/components/Crumbs.astro";
import ViewProducts from "@/components/ViewProductsPages";

export const prerender = true;

interface Category {
  id: Number;
  documentId: string;
  name: string;
}

export async function getStaticPaths() {
  try {
    const categories = await getCategories();

    if (!categories || !Array.isArray(categories.data)) {
      return [];
    }

    return categories.data.map((category: Category) => ({
      params: { categoria: category.name.toLowerCase() },
    }));
  } catch (error) {
    console.error("Error en getStaticPaths:", error);
    return [];
  }
}

const { categoria } = Astro.params;

const response = await getCategorieBy(categoria);
const products: Producto[] = response?.data ?? [];

const contenidoPages = contenido.find((c) => c.categoria === categoria);
---

<Layout title={categoria}>
  <Crumbs pagina={["productos", categoria]} />
  <section class="max-w-screen-xl mx-auto pt-5">
    <h1
      class="text-xl md:text-3xl text-center text-[#f1683a] font-bold -mb-1"
      id="title"
    >
      {contenidoPages?.titulo}
    </h1>
    <p
      class="mb-3 text-center text-xs md:text-sm text-[#5f3b3c] font-extrabold"
      id="des"
    >
      ¡Perfect{contenidoPages?.l}s para compartir o disfrutar solo!
    </p>
    <p class="text-xs md:text-base my-3 text-balance px-3 md:px-o" id="des">
      {contenidoPages?.texto}
    </p>

    <div class="h-auto w-full flex my-8 items-center justify-end" id="des">
    </div>
  </section>
  <section class="flex gap-2 max-w-screen-xl mx-auto">
    <ViewProducts  client:only products={products}  />
  </section>
</Layout>
