---
import LayoutPages from "@/layouts/LayoutPages.astro";
import CardProducts from "@/components/CardProducts.astro";
import AsideProducts from "@/components/AsideProducts.astro";
import type{Producto} from '@/types'
import { getProducts } from "@/lib/getProducts";
const {PUBLIC_HOST} = import.meta.env
let products: Producto[] = []

try {
  const response = await getProducts()
  products = response.data
} catch (error) {
console.log('Error en la solicitud de productos', error)  
}
---

<LayoutPages title="Tortas - postres - cupcakes - galletas">
  <h1
    class="text-xl md:text-3xl text-center text-balance text-[#f1683a] font-bold mb-6"
    id="txt-title"
  >
    Explora Nuestra Selección de Tortas, Galletas y Cupcakes
  </h1>

  <p class="text-sm md:text-base/5 my-3 text-wrap px-3" id="txt-text">
    Explora nuestra amplia variedad de productos personalizables y encuentra el
    diseño perfecto para ti. Desde regalos únicos hasta artículos exclusivos
    hechos a medida, ofrecemos opciones para cada estilo y ocasión. Personaliza
    cada detalle y crea algo verdaderamente especial.
  </p>
  <p class="text-sm md:text-base/5 my-3 text-wrap px-3" id="txt-text">
    <strong> ¡Descubre nuestra colección hoy mismo!</strong>
  </p>
  <div
    class="h-auto w-full flex my-8 items-center justify-end pr-2 md:pr-0"
    id="filtros"
  >
    <form class="justify-end">
      <label for="underline_select" class="sr-only">Underline select</label>
      <select
        id="underline_select"
        class="block py-2.5 px-0 w-full text-sm text-gray-700 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
      >
        <option selected class="text-xs md:text-sm"
          >Ordenar producto por:</option
        >
        <option value="US" class="text-xs md:text-sm"
          >Menor a mayor precio</option
        >
        <option value="CA" class="text-xs md:text-sm"
          >Mayor a menor pecio
        </option>
        <option value="CA" class="text-xs md:text-sm">Categorias </option>
      </select>
    </form>
  </div>
  <section class="flex gap-2">
    <AsideProducts />
    <article>
      <div
        class="grid grid-cols-2 gap-x-10 md:grid-cols-3 lg:grid-cols-4 gap-y-8  p-2 w-full mb-10 md:mb-16"
        id="cards-categorias"
      >
        {
          products.map((prod) => (
            <CardProducts
              slug={prod.slug}
              discount={prod.discount}
              image={`${PUBLIC_HOST}${prod.images[0]?.url}`}
              title={prod.title}
              price={prod.price}
            />
          ))
        }
      </div>
    </article>
  </section>
</LayoutPages>

 <style>
  #txt-title,
  #txt-text,
  #cards-categorias,
  #filtros {
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
  }

  #filtros {
    transform: translateY(50px);
    filter: blur(20px);
  }

  #cards-categorias {
    transform: translatex(-50px);
    filter: blur(5px);
  }

  @keyframes showContent {
    to {
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  #txt-tittle {
    animation-delay: 0.2s;
  }
  #filtros {
    animation-delay: 1.2s;
  }
  #txt-text {
    animation-delay: 1.6s;
  }
  #cards-categorias {
    animation-delay: 2.5s;
  }
</style> 
