---
import CardProducts from "@/components/CardProducts.astro";
import LayoutPages from "@/layouts/LayoutPages.astro";
import { productos } from "@/content/productos";
---

<LayoutPages title="Personalizados - pasteleria personalizada">
  <section
    class="w-full min-h-24 mx-auto rounded-md p-2 relative flex items-center justify-center shadow-md mb-20 md:mb-28"
  >
    <div
      class="relative p-4 bg-[#f8f6f3] w-full max-w-[90%] md:max-w-[65%] mx-auto min-h-28 flex flex-col items-center justify-center border-dashed border-4 -mb-8"
      id="box-tittle"
    >
      <span
        class="text-xs md:text-base text-center font-semibold flex items-center gap-x-1"
        id="text"
      >
        <strong class="text-primary-txt">¡Tu idea!</strong> Nuestro diseño
      </span>
      <h1
        class="text-2xl md:text-3xl text-primary-txt font-bold text-center mb-2"
        id="tittle"
      >
        Pastelería Personalizada
      </h1>
      <h2
        class="text-lg md:text-2xl text-[#f1683a] font-bold text-center"
        id="subtittle"
      >
        Creando momentos únicos
      </h2>
      <p class="text-xs md:text-sm text-center text-balance">
        Diseñamos pasteles únicos y personalizados según tus ideas y
        creatividad.
      </p>
    </div>
  </section>
  <section>
    <h3
      class="text-base flex items-center ga-x-2 md:text-2xl text-balance font-bold pl-4 md:pl-0"
      id="tittle"
    >
      Recomendad
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        width="24"
        height="24"
        class="size-4 md:size-6"
      >
        <path
          d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"
        ></path>
      </svg>s
    </h3>
    <hr />
    <p class="text-xs md:text-base text-balance pl-4 md:pl-0 my-4" id="des">
      Descubre nuestras recomendaciones de pasteles personalizados diseñados
      para inspirarte. Si no encuentras el diseño que buscas, utiliza nuestro
      formulario para crear un pastel único según tu creatividad. ¡Estamos aquí
      para hacer realidad tus ideas dulces!
    </p>
  </article>
  <article>
    <div
      class="grid grid-cols-2 gap-x-2 md:grid-cols-4 gap-y-14 p-5 w-full mb-10 md:mb-16"
      id="cards-personalizados"
    >
      {
        productos.map((per) => (
          <CardProducts
            id={per.id}
            descuento={per.descuento}
            image={per.imagen}
            nombre={per.nombre}
            precio={per.precio}
          />
        ))
      }
    </div>
  </section>
  <section id="personalizados">
    <h4
      class="text-base md:text-xl text-balance font-bold mb-2 pl-4 md:pl-0"
      id="tittle"
    >
      <strong class="text-primary-txt">¿Tienes una idea en mente? </strong>
      ¡Nosotros la hacemos dulce realidad!
    </h4>
    <hr />
    <p class="text-xs md:text-base text-balance pl-4 md:pl-0  pt-6" id="des">
      Cuéntanos tu idea para un pastel personalizado. Llena el formulario y te
      responderemos rápidamente con una propuesta única.
    </p>
    <p
      class="font-semibold text-xs md:text-base text-balance pl-4 mt-2 md:mt-0 md:pl-0"
      id="des"
    >
      ¡Estamos emocionados de hacer tus ideas realidad!
    </p>
    <div class="w-full p-4 my-5 md:my-1">
      <form class="max-w-4xl mx-auto">
        <div class="relative z-0 w-full mb-5 group">
          <input
            type="email"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Correo electronico</label
          >
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="floating_first_name"
              id="floating_first_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
              placeholder=" "
              required
            />
            <label
              for="floating_first_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Nombres</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="floating_last_name"
              id="floating_last_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
              placeholder=" "
              required
            />
            <label
              for="floating_last_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Apellidos</label
            >
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="tel"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              name="floating_phone"
              id="floating_phone"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
              placeholder=" "
              required
            />
            <label
              for="floating_phone"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Numero de telefono (123-456-7890)</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group">
            <input
              type="text"
              name="floating_company"
              id="floating_company"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48] peer"
              placeholder=" "
              required
            />
            <label
              for="floating_company"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#eb9f48] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Direccion (opcional)</label
            >
          </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-500 dark:text-gray-400"
            >Tu mensaje</label
          >
          <textarea
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-[#eb9f48] dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-[#eb9f48] focus:outline-none focus:ring-0 focus:border-[#eb9f48]"
            placeholder="Cuentanos tu idea..."></textarea>
        </div>
        <button
          type="submit"
          class="text-black hover:text-white transition duration-200 bg-secondary-bg hover:bg-[#d66a6e] uppercase focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Hacer mi pedido</button
        >
      </form>
    </div>
  </section>
</LayoutPages>

<style>
  /* animacion de texto y cards */

  #box-tittle,
  #cards-personalizados,
  #tittle,
  #des {
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
  }

  #box-tittle,
  #des {
    transform: translateY(50px);
    filter: blur(20px);
  }

  #cards-personalizados {
    transform: translatex(50px);
    filter: blur(5px);
  }

  @keyframes showContent {
    to {
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  #tittle {
    animation-delay: 0.5s;
  }

  #des {
    animation-delay: 1.6s;
  }
  #cards-personalizados {
    animation-delay: 2.5s;
  }
</style>
