---
import CardProducts from "../CardProducts.astro";

const products = [
  {
    id: 11,
    image: "/torta.png",
    nombre: "producto-1",
    precio: "100000",
    descuento: 10,
  },
  {
    id: 21,
    image: "/torta.png",
    nombre: "producto-2",
    precio: "100000",
    descuento: 6,
  },
  {
    id: 31,
    image: "/torta.png",
    nombre: "producto-3",
    precio: "100000",
    descuento: 5,
  },
  {
    id: 41,
    image: "/torta.png",
    nombre: "producto-4",
    precio: "100000",
    descuento: 4,
  },
];
---

<section>
  <h3 class="text-lg text-gray-700 uppercase pt-4 font-semibold pb-2">
    Aqui hay alguna opciones que tambien te pueden interesar
  </h3>
  <hr />
  <div class="py-7 grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-8">
    {
      products.map((product) => (
        <CardProducts
          id={product.id}
          image={product.image}
          nombre={product.nombre}
          precio={product.precio}
          descuento={product.descuento}
        />
      ))
    }
  </div>
</section>
