---
type Props = {
  id: number | string;
  image: string;
  nombre: string;
  precio: string;
  descuento: number | null;
};

const { id, image, nombre, descuento, precio } = Astro.props;
---

<article>
  <a
    href={`/detalle-producto/${id}`}
    class="card-producto rounded-sm flex justify-between flex-col h-auto md:w-[15em] max-h-[31em] border border-gray-200 transition duration-300 ease-in-out relative shadow-md hover:shadow-none"
  >
    <div class=`${descuento ? 'block' : 'hidden'} absolute z-2 top-1 right-1`>
      <img
        src="/bg-ofertas.webp"
        alt="imagen-bacground-ofertas"
        class="size-9"
      />
      <span
        class="font-bold text-base w-5 text-white px-5 border-dashed absolute z-3 top-2 right-1"
        >{descuento}</span
      >
    </div>
    <picture>
      <img
        src={image}
        alt=`imagen-producto-${nombre}`
        class="rounded-sm w-full h-full object-cover duration-150"
      />
    </picture>
    <div class="flex flex-col items-center justify-center py-3">
      <p class="text-primary-txt pt-1 font-semibold text-base">{nombre}</p>
      <p class="text-gray-800 font-bold">{precio}</p>
    </div>
  </a>
</article>
