---
import {  formateValue } from '@/utils';

type Props = {
  slug: string;
  image: string;
  title: string;
  price: string | undefined;
  discount: number | null;
};

const { slug, image, title, discount, price } = Astro.props;
---

  <a
    href={`/detalle-producto/${slug}`}
    class="card-producto rounded-sm flex justify-between flex-col h-auto md:w-[15em] max-h-[31em] border border-gray-200 transition duration-300 ease-in-out relative hover:shadow-lg"
  >
    <div class=`${discount ? 'block' : 'hidden'} absolute z-2 top-1 right-1`>
      <img
        src="/bg-ofertas.webp"
        alt="imagen-bacground-ofertas"
        class="size-9"
      />
      <span
        class="font-bold text-base w-5 text-white px-5 border-dashed absolute z-3 top-2 right-1"
        >{discount}</span
      >
    </div>
    <div class="w-full h-40">
      <picture>
        <img
        src={image}
        alt=`imagen-producto-${title}`
        class="rounded-sm w-full h-full object-cover duration-150"
        />
      </picture>
    </div>
    <div class="flex flex-col items-center justify-center py-3">
      <p class="text-primary-txt pt-1 font-semibold text-base text-balance px-2 text-center">{title}</p>
      <p class="text-gray-800 font-bold">{price ? formateValue(price) : price}</p>
    </div>
  </a>
