---
import Layout from "@/layouts/Layout.astro";

const items = [
  {
    image: "/img1.webp",
    title: "DESIGN SLIDER",
    topic: "ANIMAL",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt nulla non, veritatis eos, reiciendis saepe soluta laborum, dignissimos doloremque natus minus. Sapiente eveniet consequuntur eum sed officia alias repudiandae?",
    urlBtn: "/carrito-compras",
    thumbnail: {
      title: "name slider",
      description: "desc",
      image: "/img1.webp",
    },
  },
  {
    image: "/img2.webp",
    title: "DESIGN SLIDER",
    topic: "ANIMAL",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt nulla non, veritatis eos, reiciendis saepe soluta laborum, dignissimos doloremque natus minus. Sapiente eveniet consequuntur eum sed officia alias repudiandae?",
    urlBtn: "/carrito-compras",
    thumbnail: {
      title: "name slider",
      description: "desc",
      image: "/img2.webp",
    },
  },
  {
    image: "/img3.webp",
    title: "DESIGN SLIDER",
    topic: "ANIMAL",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt nulla non, veritatis eos, reiciendis saepe soluta laborum, dignissimos doloremque natus minus. Sapiente eveniet consequuntur eum sed officia alias repudiandae?",
    urlBtn: "/carrito-compras",
    thumbnail: {
      title: "name slider",
      description: "desc",
      image: "/img3.webp",
    },
  },
  {
    image: "/img4.webp",
    title: "DESIGN SLIDER",
    topic: "ANIMAL",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt nulla non, veritatis eos, reiciendis saepe soluta laborum, dignissimos doloremque natus minus. Sapiente eveniet consequuntur eum sed officia alias repudiandae?",
    urlBtn: "/carrito-compras",
    thumbnail: {
      title: "name slider",
      description: "desc",
      image: "/img4.webp",
    },
  },
];
---

<Layout title="">
  <div class="carousel">
    <div class="list">
      {
        items.map((item) => (
          <div class="item">
            <img
              src={item.image}
              class="w-full h-full object-cover"
              alt="image-carrusel"
              loading="lazy"
            />
            <div class="content">
              <div class="author">{item.title}</div>
              <div class="title">{item.topic}</div>
              <div class="topic">ANIMAL</div>
              <div class="des">{item.text}</div>
              <div class="buttons">
                <button>VER PRODUCTO</button>
                <button>HACER MI PEDIDO</button>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="thumbnail">
      {
        items.map((item) => (
          <div class="item">
            <img src={item.thumbnail.image} alt="image-carrusel-thumnail" />
          </div>
        ))
      }
    </div>

    <!-- controls -->
    <div
      class="arrows absolute top-[80%] right-2/4 z-20 w-72 max-w-[30%] flex gap-3 items-center"
    >
      <button id="prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="24"
          height="24"
          stroke-width="2"
        >
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
      </button>
      <button id="next"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          width="24"
          height="24"
          stroke-width="2"
        >
          <path d="M9 6l6 6l-6 6"></path>
        </svg></button
      >
    </div>
  </div>
</Layout>

<style>
  /* carousel */

  .carousel {
    height: 100dvb;
    width: 100vw;
    overflow: hidden;
    position: relative;

    .item {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0 0 0 0;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      position: absolute;
      top: 20%;
      width: 550px;
      max-width: 80%;
      left: 19%;
      padding: 30px;
      transform: translateX(-50%);
      box-sizing: border-box;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.267);
      text-shadow: 0 5px 10px #0004;
    }
  }



  .carousel .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
  }
  .carousel .list .item .title,
  .carousel .list .item .topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
  }
  .carousel .list .item .topic {
    color: #f1683a;
  }
  .carousel .list .item .des {
    margin-bottom: 20px;
  }
  .carousel .list .item .buttons {
    display: grid;
    place-content: center;
    padding: 10px;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: 40px;
    gap: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.267);
    margin-top: 30px;
    gap: 15px;
    margin: auto;
  }

  .carousel .list .item .buttons button {
    border: none;
    background-color: #eee;
    padding: 0px 10px;
    font-weight: 500;
    background-color: #f1683a;
  }
  .carousel .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #000000;
  }

  /* thumbail */
  .thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
  }
  .thumbnail .item {
    width: 150px;
    height: 200px;
    flex-shrink: 0;
    position: relative;
  }
  .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  /* arrows */

  .arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .arrows button {
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.267);
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s;
  }
  .arrows button:hover {
    background-color: #fff;
    color: #000000;
  }

  /* animation */
  .carousel .list .item:nth-child(1) {
    z-index: 1;
  }

  /* animation text in first item */

  .carousel .list .item:nth-child(1) .content .author,
  .carousel .list .item:nth-child(1) .content .title,
  .carousel .list .item:nth-child(1) .content .topic,
  .carousel .list .item:nth-child(1) .content .des,
  .carousel .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
  }
  @keyframes showContent {
    to {
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  .carousel .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
  }
  .carousel .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
  }
  .carousel .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
  }
  .carousel .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
  }

  /* create animation when next click */
  .carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
  }
  @keyframes showImage {
    to {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  .carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
  }
  .carousel.prev .list .item img {
    z-index: 100;
  }
  @keyframes showThumbnail {
    from {
      width: 0;
      opacity: 0;
    }
  }
  .carousel.next .thumbnail {
    animation: effectNext 0.5s linear 1 forwards;
  }

  @keyframes effectNext {
    from {
      transform: translateX(150px);
    }
  }

  /* running time */

  .carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
  }

  .carousel.next .time,
  .carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
  }
  @keyframes runningTime {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  /* prev click */

  .carousel.prev .list .item:nth-child(2) {
    z-index: 2;
  }

  .carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @keyframes outFrame {
    to {
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
    }
  }

  .carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
  }
  .carousel.next .arrows button,
  .carousel.prev .arrows button {
    pointer-events: none;
  }
  .carousel.prev .list .item:nth-child(2) .content .author,
  .carousel.prev .list .item:nth-child(2) .content .title,
  .carousel.prev .list .item:nth-child(2) .content .topic,
  .carousel.prev .list .item:nth-child(2) .content .des,
  .carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
  }

  @keyframes contentOut {
    to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }
  @media screen and (max-width: 678px) {
    .carousel .list .item .content {
      padding-right: 0;
    }
    .carousel .list .item .content .title {
      font-size: 30px;
    }
  }
</style>

<script is:inline>
  if (typeof window !== "undefined") {
    const nextDom = document.getElementById("next");
    const prevDom = document.getElementById("prev");

    const carouselDom = document.querySelector(".carousel");
    const SliderDom = carouselDom?.querySelector(".list");
    const thumbnailBorderDom = carouselDom?.querySelector(".thumbnail");
    const thumbnailItemsDom = thumbnailBorderDom?.querySelectorAll(".item");

    if (
      nextDom &&
      prevDom &&
      carouselDom &&
      SliderDom &&
      thumbnailBorderDom &&
      thumbnailItemsDom?.length
    ) {
      thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);

      nextDom.onclick = () => showSlider("next");
      prevDom.onclick = () => showSlider("prev");

      let runTimeOut;

      let runNextAuto = setTimeout(() => {
        nextDom.click();
      }, 7000);

      function showSlider(type) {
        const SliderItemsDom = SliderDom?.querySelectorAll(".item");
        const thumbnailItemsDom = thumbnailBorderDom?.querySelectorAll(".item");

        if (!SliderItemsDom?.length || !thumbnailItemsDom?.length) return;

        if (type === "next") {
          SliderDom?.appendChild(SliderItemsDom[0]);
          // Mueve el primer item al final
          thumbnailBorderDom?.appendChild(thumbnailItemsDom[0]);
        } else {
          SliderDom?.prepend(SliderItemsDom[SliderItemsDom.length - 1]);
          // Mueve el último al inicio
          thumbnailBorderDom?.prepend(
            thumbnailItemsDom[thumbnailItemsDom.length - 1]
          );
        }

        carouselDom?.classList.add(type);
        clearTimeout(runTimeOut);
        runTimeOut = setTimeout(() => {
          carouselDom?.classList.remove("next");
          carouselDom?.classList.remove("prev");
        }, 1000);

        clearTimeout(runNextAuto);
        runNextAuto = setTimeout(() => {
          nextDom?.click();
        }, 7000);
      }
    }
  }
</script>
