---
import CardProducts from "./CardProducts.astro";
import type { Producto } from "@/types";
import { getProducts } from "@/services";
const { PUBLIC_HOST } = import.meta.env;
let products: Producto[] = [];

try {
  const response = await getProducts();
  products = response.data;
} catch (error) {
  console.log("Error en la solicitud de productos", error);
}
---

<section class="mx-4 md:mx-0">
  <h3
    class="text-balance text-lg text-gray-700 uppercase pt-4 font-semibold pb-2"
  >
    Aqui hay algunas opciones que tambien te pueden interesar
  </h3>
  <hr />
  <div class="py-7 grid grid-cols-2 md:grid-cols-4 gap-3">
    {
      products
        .slice(0, 4)
        .map((product) => (
          <CardProducts
            slug={product.slug}
            image={`${PUBLIC_HOST}${product.images[0].url}`}
            title={product.title}
            price={product.price}
            discount={product.discount}
          />
        ))
    }
  </div>
</section>
