---
import LayoutPages from "./LayoutPages.astro";
const { id, image, nombre, descuento, precio, descripcion } = Astro.props;

---

<LayoutPages title={`detalle - ${nombre}`}>
  <article class="grid grid-cols-1 md:grid-cols-2 ¿ min-h-[500px] p-4">
    <div class="p-5 flex items-center justify-center">
      <img
        src={image}
        alt=`imagen-producto-${nombre}`
        class="w-full h-full object-cover"
      />
    </div>
    <div class="border border-dashed p-4 flex flex-col gap-y-3">
      <h2 class="font-bold text-base md:text-2xl">{nombre}</h2>
      <p class="text-sm md:text-base">precio: {precio}</p>
      <p class="text-sm md:text-base text-balance">{descripcion}</p>
    </div>
  </article>
  <article>
    <nav>
      <ul>
        <li>
          <a href="/detalle-producto/descripcion"> Detales </a>
        </li>
      </ul>
    </nav>
    <div class="bg-black">
      <slot />
    </div>
  </article>
</LayoutPages>
